<navbar></navbar>

  <div class="container">
    <h2>Enter your details</h2>
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <form name="detailsForm" ng-model="customerdetails.detailsForm" class="css-form" novalidate ng-submit="customerdetails.submitDetails(detailsForm)">
          <div class="form-group">
            <label>First Name:</label>
            <input type="text" name="firstname" id="firstname" class="form-control" ng-model="customerdetails.details.firstname" ng-minlength="3" required>
            <p ng-if="detailsForm.firstname.$touched || detailsForm.$submitted" ng-show="detailsForm.firstname.$error.required">Your first name is required.</p>
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            <input type="text" name="lastname" id="lastname" class="form-control" ng-model="customerdetails.details.lastname" ng-minlength="3" required>
            <p ng-if="detailsForm.lastname.$touched || detailsForm.$submitted" ng-show="detailsForm.lastname.$error.required">Your last name is required.</p>
          </div>
          <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="customerdetails.details.email" required>
            <p ng-if="detailsForm.email.$touched || detailsForm.$submitted" ng-show="detailsForm.email.$error.required">Your email is required.</p>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<footer></footer>
