<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Alright Flights!</h1>
    <p class="lead">Fly anywhere in the world.. alright</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>

  <div class="row">
    <div class="col-sm-3">
      <input type="text" ng-model="main.search.from" placeholder="From" tabindex="1" uib-typeahead="address for address in main.getLocation($viewValue)" typeahead-loading="loadingLocationsFrom" typeahead-no-results="noResultsFrom" class="form-control">
      <i ng-show="loadingLocationsFrom" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResultsFrom">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </div>
    <div class="col-sm-3">
      <input type="text" ng-model="main.search.to" placeholder="To" tabindex="2" uib-typeahead="address for address in main.getLocation($viewValue)" typeahead-loading="loadingLocationsTo" typeahead-no-results="noResultsTo" class="form-control">
      <i ng-show="loadingLocationsTo" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResultsTo">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </div>
    <div class="col-sm-3">
      <p class="input-group">
        <input type="text" class="form-control" tabindex="3" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="main.search.start" is-open="main.startPopup.opened"
               min-date="main.minDate" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="main.openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="input-group">
        <input type="text" class="form-control" tabindex="4" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="main.search.finish" is-open="main.finishPopup.opened"
               min-date="main.start" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="main.openFinish()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 center-block">
      <button type="button" tabindex="5" class="btn btn-info btn-block center-block" ng-click="main.searchFlights()">Search Flights</button>
    </div>
  </div>

</header>

<footer></footer>
