<navbar></navbar>

  <div class="container">
    <h2>Select your fare</h2>
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <p ng-hide="pickflights.hasFlight()">Your search</p>
        <p ng-show="pickflights.hasFlight()">Your chosen flight</p>
      </div>
      <div class="panel-body">
        <p ng-hide="pickflights.hasFlight()">{{pickflights.search.from}} to {{pickflights.search.to}} depart {{pickflights.search.start | date : format : timezone}} and return {{pickflights.search.finish | date : format : timezone}}</p>
        <p ng-show="pickflights.hasFlight()">{{pickflights.flight.from}} to {{pickflights.flight.to}} depart {{pickflights.flight.start | date : format : timezone}} ({{pickflights.flight.depart}}) and return {{pickflights.flight.finish | date : format : timezone}} ({{pickflights.flight.arrive}})</p>
      </div>

      <!-- Table -->
      <table class=table ng-hide="pickflights.hasFlight()">
        <thead>
          <th>Depart</th>
          <th>Arrive</th>
          <th>Flight</th>
          <th>Economy</th>
          <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="flight in pickflights.results track by $index">
          <td>{{flight.depart}}</th>
          <td>{{flight.arrive}}</td>
          <td>{{flight.number}}</td>
          <td>{{flight.economy | currency}}</td>
          <td><button type="button" class="btn btn-success" ng-click="pickflights.chooseFlight($index)">Select</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<!--div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div-->

<footer></footer>
