<navbar></navbar>

  <div class="container">
    <h2>Your Itinerary</h2>
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-right">First name:</h4>
          </div>
          <div class="col-sm-6">
            <h4>{{reviewflight.customerdetails.firstname}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-right">Last name:</h4>
          </div>
          <div class="col-sm-6">
            <h4>{{reviewflight.customerdetails.lastname}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-right">Email:</h4>
          </div>
          <div class="col-sm-6">
            <h4>{{reviewflight.customerdetails.email}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-right">Flight details:</h4>
          </div>
          <div class="col-sm-6">
            <h4>{{reviewflight.flight.from}} to {{reviewflight.flight.to}} depart {{reviewflight.flight.start | date : format : timezone}} ({{reviewflight.flight.depart}}) and return {{reviewflight.flight.finish | date : format : timezone}} ({{reviewflight.flight.arrive}})</h4>
          </div>
        </div>
        <p class="text-center"><button type="button" class="btn btn-success" ng-click="reviewflight.bookFlight()">Book Flight</button></p>
      </div>
      </table>
    </div>
  </div>

<footer></footer>
