<navbar></navbar>

  <div class="container">
    <h2>Thank you, your flight has been booked!</h2>
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-right">Booking reference:</h4>
          </div>
          <div class="col-sm-6">
            <h4>{{summary.bookingreference}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-right">First name:</h4>
          </div>
          <div class="col-sm-6">
            <h4>{{summary.customerdetails.firstname}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-right">Last name:</h4>
          </div>
          <div class="col-sm-6">
            <h4>{{summary.customerdetails.lastname}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-right">Email:</h4>
          </div>
          <div class="col-sm-6">
            <h4>{{summary.customerdetails.email}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-right">Flight details:</h4>
          </div>
          <div class="col-sm-6">
            <h4>{{summary.flight.from}} to {{summary.flight.to}} depart {{summary.flight.start | date : format : timezone}} ({{summary.flight.depart}}) and return {{summary.flight.finish | date : format : timezone}} ({{summary.flight.arrive}})</h4>
          </div>
        </div>
      </div>
      </table>
    </div>
  </div>

<footer></footer>
